<h1>Add a new ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>

<%= link_to @cocktail.name, cocktail_path(@cocktail) %>
